<!DOCTYPE html>
<html>
  <head>
    <title>zng.jp TV</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="assets/tv.css" type="text/css">
  </head>
  <body>
    <div>
      <div class="main">
	<div class="nav">{{if not $.ExpandDays}}
	  <div class="nav-head">
	    <a class="nav-link" href="./?mode=html&amp;time={{$.SelectedDay}}&amp;expand-days=yes">{{$.SelectedDay.Day}} {{$.SelectedDay.Weekday}} ▾</a>
	  </div>{{else}}
	  <div class="nav-head">
	    <a class="nav-link" href="./?mode=html&amp;time={{$.SelectedDay}}">{{$.SelectedDay.Day}} {{$.SelectedDay.Weekday}} ▴</a>
	  </div>
	  <ul class="nav-list">{{range $.Days}}
	    <li class="{{if .Equal $.SelectedDay}}nav-selected-day{{else}}nav-day{{end}}"><a class="nav-link" href="./?mode=html&amp;time={{.}}">{{.Day}} {{.Weekday}}</a></li>{{end}}
	  </ul>{{end}}
	</div>
        <div>
          <div class="event">{{with $.Data.FindEvent $.SelectedEventId}}
            <div class="event-widget">
              <div class="event-body">
                <div class="event-close"><a class="event-close-link" href="./?mode=html&amp;time={{$.SelectedDay}}">Close</a></div>
                <div class="event-program">{{.Program.Info.Title}}</div>
                <div class="event-name">{{.Info.Name}}</div>
                <div class="event-time">{{.Info.Start.Year | printf "%04d"}}-{{.Info.Start.Month | printf "%02d"}}-{{.Info.Start.Day | printf "%02d"}} {{.Info.Start.Hour | printf "%02d"}}:{{.Info.Start.Minute | printf "%02d"}}</div>
                <div class="event-description">{{.Info.Description}}</div>{{$rule := $.Data.RuleMatchingEvent .}}{{if $rule}}
                <form method="post" action="./?mode=html&amp;time={{$.SelectedDay}}">
                  <input type="hidden" name="id" value="{{$rule.Id}}">
                  <input type="hidden" name="deleted" value="yes">
                  <label><input type="checkbox" name="weekly" value="yes" disabled{{if $rule.Config.Weekly}} checked{{end}}>Weekly</label>
                  <input type="submit" value="Unrecord">
                </form>{{else}}{{$overlappingEvent := $.Data.OverlappingMatchedEvent .}}{{if not $overlappingEvent}}
                <form method="post" action="./?mode=html&amp;time={{$.SelectedDay}}">
                  <input type="hidden" name="id" value="{{.Id}}">
                  <input type="hidden" name="program-number" value="{{.Program.Info.Number}}">
                  <input type="hidden" name="start" value="{{.Info.Start}}">
                  <input type="hidden" name="duration" value="{{.Info.Duration}}">
                  <input type="hidden" name="name" value="{{.Info.Name}}">
                  <label><input type="checkbox" name="weekly" value="yes">Weekly</label>
                  <input type="submit" value="Record">
                </form>{{else}}
		You cannot record this due to an overlapping event: <a href="./?mode=html&time={{$.SelectedDay}}&selected-event={{$overlappingEvent.Id}}">{{$overlappingEvent.Info.Name}}</a>{{end}}{{end}}
              </div>
            </div>{{end}}
          </div>
        </div>
        <table class="main-table">
          <tr>
            <td class="main-hour main-program">
            </td>{{range $index, $program := $.Programs}}
            <td class="main-program" style="left: calc(20px + {{$index}} * 100px)">
              {{.Info.Title}}
            </td>{{end}}
          </tr>{{range $interval := $.TimeIntervals}}{{$minTime := (index $.TimeIntervals 0).Start.Time}}
          <tr class="main-time-interval" style="top: calc(20px + {{($interval.Start.Time.Sub $minTime).Minutes}} * 3px)">{{with $interval.Start.StartingHour}}
            <td class="main-hour" rowspan="{{.TimeInterval.Span}}" style="height: calc({{(.TimeInterval.End.Time.Sub .TimeInterval.Start.Time).Minutes}} * 3px - 1px)">
              {{.Hour}}
            </td>{{end}}{{range $index, $program := $.Programs}}{{with index $interval.Start.StartingSlotMap $program.Id}}{{if .Event}}{{$rule := $.Data.RuleMatchingEvent .Event}}{{if $rule}}
            <td rowspan="{{.TimeInterval.Span}}" class="main-slot-with-matched-event" style="left: calc(20px + {{$index}} * 100px); height: calc({{(.TimeInterval.End.Time.Sub .TimeInterval.Start.Time).Minutes}} * 3px - 1px)">
              <a class="main-slot-link" href="./?mode=html&amp;time={{$.SelectedDay}}&amp;selected-event={{.Event.Id}}">
                <span class="main-slot-time">{{.Event.Info.Start.Minute | printf "%02d"}}</span>
                {{.Event.Info.Name}}
              </a>
            </td>{{else}}
            <td rowspan="{{.TimeInterval.Span}}" class="main-slot-with-event" style="left: calc(20px + {{$index}} * 100px); height: calc({{(.TimeInterval.End.Time.Sub .TimeInterval.Start.Time).Minutes}} * 3px - 1px)">
              <a class="main-slot-link" href="./?mode=html&amp;time={{$.SelectedDay}}&amp;selected-event={{.Event.Id}}">
                <span class="main-slot-time">{{.Event.Info.Start.Minute | printf "%02d"}}</span>
                {{.Event.Info.Name}}
              </a>
            </td>{{end}}{{else}}
            <td rowspan="{{.TimeInterval.Span}}" class="main-slot-without-event" style="left: calc(20px + {{$index}} * 100px); height: calc({{(.TimeInterval.End.Time.Sub .TimeInterval.Start.Time).Minutes}} * 3px - 1px)"></td>{{end}}{{end}}{{end}}
          </tr>{{end}}
        </table>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="assets/tv.js" type="text/javascript"></script>
  </body>
</html>

