body {
    font-size: 12px;
    margin: 0;
}
table.main-table {
    display: block;
}
table.main-table > tbody {
    display: block;
}
table.main-table > tbody > tr {
    display: block;
    position: absolute;
}
table.main-table > tbody > tr > td {
    display: block;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
td.main-program.main-hour {
    background-color: #fc9;
    border-width: 0;
    height: 20px;
    margin: 0;
    width: 20px;
    z-index: 2;
}
td.main-program {
    background-color: #f90;
    border-color: #fc9;
    border-style: solid;
    border-width: 0 1px;
    color: #fff;
    height: 20px;
    margin: 0 -0.5px;
    text-align: center;
    width: 99px;
    z-index: 1;
}
td.main-hour {
    background-color: #09c;
    border-color: #9cf;
    border-style: solid;
    border-width: 1px 0;
    color: #fff;
    margin: -0.5px 0;
    text-align: center;
    width: 20px;
    z-index: 1;
}
td.main-slot-with-matched-event {
    background-color: #fcc;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    margin: -0.5px;
    width: 99px;
}
td.main-slot-with-event {
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    margin: -0.5px;
    width: 99px;
}
td.main-slot-without-event {
    background-color: #ccc;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    margin: -0.5px;
    width: 99px;
}
span.main-slot-time {
    background-color: #09c;
    color: #fff;
}
a.main-slot-link {
    color: #000;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
div.event-widget {
    background-color: #fff;
    border-radius: 14px;
    bottom: 5%;
    box-shadow: 0 0 9px;
    left: 5%;
    padding: 14px;
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 3;
}
div.event-body {
    height: 100%;
    overflow: scroll;
}
div.event-close {
    text-align: right;
}
div.event-name {
    font-size: 21px;
}
